*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    color: rgb(43, 141, 131);
}


body{
    display: grid;
    grid-template: 
    "header" 70px
    "main" 1fr
    "footer" auto /
    1fr;
}

header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}


/* HEADER */

header{
    display: grid;
    grid-template-columns: 50px 1fr auto;
    padding: 5px;
}

header form input{
    margin: 20px 0 0 15px;
    border: solid 1px rgb(43, 141, 131);
    border-radius: 15px;
    padding: 5px;
    width: auto;
    transition: 0.5s;
}
header form input:hover{
 transform: scale(1.1);
 background-color:rgb(43, 141, 131);
}
header form input:active{
    transform: scale(1.05);
    background-color:white; 
}


header li{
display: inline;
margin: 15px;
transition: 0.5s;
}

/* header li:hover{
    transform: scale(1.1);
    color: white;
    background-color: rgb(43, 141, 131);
} */

header li img{
    transition: 0.5;
    height: 40px; 
    width: 40px;

}

header .profile img{
    transition: 0.5;
    border-radius: 50%;
    height: 40px; 
    width: 40px;

}
 header li img:hover{
    transform: scale(1.1);
} 

header li a{
    text-decoration: none;
    color: rgb(43, 141, 131);
    transition: 0.5;
}
header li a:hover{
    transform: scale(1.1);
    }
    header li a:active{
        transform: scale(1.05);
    }

    header li .profile{
        transition: 0.5s;
    }
    header .profile:hover{
        transform: scale(1.1);

    }

/* SECTION 1 */

.section1{
    display: grid;
    grid-template-columns:1fr 300px 300px 1fr;
    /* padding: 50px; */
    /* background-color: rgb(43, 141, 131); */
    background-image: url(https://www.novartis.com/sites/www.novartis.com/files/styles/story_teaser/public/field/header-image/iStock_000017634876Large.jpg?itok=QJhqkvd7);
    color: white;
    font-family: sans-serif;
    padding: 30px 0;
}

.section1 .purpose{
text-align: center;
/* margin: 10px; */
}
.section1 .purpose h1{
    margin: 15px;
    }

.section1 .welcome{
    text-align: center;
    background-color: white;
    margin: 30px;
}
.section1 .welcome h2{
    margin: 30px;
    color: rgb(43, 141, 131);
}

.section1 .welcome button{
    padding: 5px 30px;
    border-radius: 15px;
    background-color: rgb(43, 141, 131);
    color: white;
    border: solid 1px white;
    transition: 0.5s;
}
.section1 .welcome button:hover{
transform: scale(1.1);
background-color: white;
}

.section1 .welcome button a{
    text-decoration: none;
    color: white;
}

.section1 .welcome button a span{
transition: 0.5s;
}
.section1 .welcome button a span:hover{
    transform: scale(1.1);
    color: rgb(43, 141, 131); 
}



/* SECTION 2 */

.section2{
    text-align: center;
    padding: 50px;
}
.section2 h1{
    margin: 20px;
}
.section2 p{
    margin: 10px;
}
.section2 button{
    margin: 20px;
    padding: 5px 50px;
    border: none;
    border-radius: 15px;
    background-color: rgb(43, 141, 131); 
    list-style: none;
    border-color: white;
    transition: 0.5s;
}
.section2 button:hover{
    transform: scale(1.1);
    background-color: white;
    color: rgb(43, 141, 131);
    }
.section2 button a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
.section2 button a span{
    transition: 0.5s;
}
.section2 button a span:hover{
    transform: scale(1.1);
    color: rgb(43, 141, 131);
}

/* SECTION 3 */

.section3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    padding: 50px;
    background-color: rgb(43, 141, 131);
    color: white;
}

.section3 img{
    height: 150px;
    width: 200px;
    margin-bottom: 20px;
}

.section3 h2{
    font-size: 19px;
    margin-bottom: 10px;
}

/* SECTION 4 */
.section4{
    /* padding: 30px 300px; */
    color: rgb(43, 141, 131);
    margin:
}

.post > * {
    display: block;
  }

  .section4 h3{
      text-align: center;
      margin: 20px;
  }

  .center-wrapper {
    /* CHANGE ACCORDING TO DESIGN */
    max-width: 400px;

    /* STANDARD CODE */
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 20px;
  }

.section4 form .name-email-phone{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 130px)); */
    margin: 20px 0;
}

.section4 input,
.section4 textarea {
  width: 100%;
  transition: 0.5s;
}
.section4 input:hover,
.section4 textarea:hover{
 transform: scale(1.1);
 background-color:rgb(43, 141, 131);
}
.section4 input:active,
.section4 textarea:active{
 transform: scale(1.05);
 background-color:rgb(255, 255, 255);
}

.section4 textarea {
  resize: vertical;
}

.section4 form .name-email-phone input{
    /* width: 178px; */
    border: solid 1px black;
    height: 25px;  
    border-color: rgb(43, 141, 131);
}

.section4 form .message textarea{
    border: solid 1px rgb(43, 141, 131);
}

.section4 .send{
    margin-top: 10px;
    text-align: center;
}
.section4 .send button{
    padding: 5px 50px;
    border-radius: 15px;
    border: none;
    background-color: rgb(43, 141, 131);
    border-color: white;
    color: white;
    transition: 0.5s;
}
.section4 .send button:hover{
    transform: scale(1.1);
    background-color: white;
    color: rgb(43, 141, 131);
}

/* FOOTER */

.footer{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    padding: 50px;
    background-color:rgb(43, 141, 131);
    color: white;
}

.footer .images-footer img{
    margin-bottom: 10px;
  }

.footer .images-footer .logo{
  width: 50px;
  height: 70px;
}

.footer .images-footer h3{
    font-size: 15px;
  }
.footer li{
    list-style: none;
    margin: 10px 0;
}
.footer h2{
    margin-bottom: 20px;
}
.footer h3{
    color: black;
}

.footer li a{
    color: white;
    text-decoration: none;
}
 .footer .images-footer li{
      display: inline;
  }
.footer .images-footer li img{
    width: 30px;
    height: 30px;
}




@media screen and (max-width: 930px) {
    
    body{
        display: grid;
        grid-template: 
        "header main" 1fr
        "footer footer" auto /
        80px 1fr;
    }

    header form input{
        width: 55px;
    }

    header{
        display: block;
    }

    header li img{
        margin-top: 20px;
    }

    header li span{
        display: none;
    }
}


@media screen and (max-width: 570px) {
    .section1 .purpose{
        display: none;
        }  
    
        .section1{
            display: grid;
            grid-template-columns: 1fr auto 1fr;
        }

        .section1 .welcome{
            padding: 20px 0;
        }
}







