*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    color: rgb(43, 141, 131);
}

body{

        display: grid;
        grid-template: 
        "header" 70px
        "main" 1fr
        "footer" auto /
        1fr;
    
    list-style: none;
}

header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}


/* HEADER */

header{
    display: grid;
    grid-template-columns: 50px 1fr auto;
    padding: 5px;
}

header form input{
    margin: 20px 0 0 15px;
    border: solid 1px rgb(43, 141, 131);
    border-radius: 15px;
    padding: 5px;
    width: auto;
    transition: 0.5s;
}
header form input:hover{
 transform: scale(1.1);
 background-color:rgb(43, 141, 131);
}
header form input:active{
    transform: scale(1.05);
    background-color:white; 
}


header li{
display: inline;
margin: 15px;
transition: 0.5s;
}

/* header li:hover{
    transform: scale(1.1);
    color: white;
    background-color: rgb(43, 141, 131);
} */

header li img{
    transition: 0.5;
    height: 40px; 
    width: 40px;

}

header .profile img{
    transition: 0.5;
    border-radius: 50%;
    height: 40px; 
    width: 40px;

}
 header li img:hover{
    transform: scale(1.1);
} 

header li a{
    text-decoration: none;
    color: rgb(43, 141, 131);
    transition: 0.5;
}
header li a:hover{
    transform: scale(1.1);
    }
    header li a:active{
        transform: scale(1.05);
    }

    header li .profile{
        transition: 0.5s;
    }
    header .profile:hover{
        transform: scale(1.1);

    }


 /* SECTION 1  */

.section1{
    display: grid;
    grid-template-columns: 80px 1fr 100px;
    padding: 30px 150px;
    background-color: rgb(43, 141, 131);
}

.section1 img{
    border-radius: 50%;
}

.section1 h2{
    margin-top: 10px;
    color: white;
}

.section1 p{
    color: white;
}

.section1 button{
    margin-top: 10px;
    padding: 5px 15px;
    border:none;
    transition: 0.5s;
}
.section1 button:hover{
    transform: scale(1.1);
}

.section1 button a{
    text-decoration: none;
    color: rgb(43, 141, 131);
}

/* SECTION 2 */

.section2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 185px));
    padding: 30px 0 30px 50px;
    background-color: rgb(43, 141, 131);

}

.section2 .card{
    border: solid 1px rgb(43, 141, 131);
    margin-left: 20px;
    text-align: center;
    padding: 30px 0;
    background-color: white;
    transition: 0.5s;
} 

.section2 .card:hover{
    transform: scale(1.25);
}

.section2 .card img{
    margin-bottom: 10px;
}

/* SECTION 3 */

.section3{
}

.section3 .main-list{
    margin: 60px 50px 40px 50px;
    border-bottom: solid 1px rgb(155, 153, 153);
}

.section3 .main-list li{
display: inline;
margin: 40px;
transition: 0.5s;
}
.section3 .main-list li:hover{
    color: white;
    background-color: rgb(43, 141, 131);
    transform: scale(1.1);
}

.section3 .search-filter{
    display: grid;
    grid-template-columns: 1fr 100px;
    margin: 60px 50px 40px 50px;
}

.section3 .search-filter .search input{
    border: solid 1px rgb(43, 141, 131);
    border-radius: 15px;
    padding: 5px;
    width: 250px;
    background-color: rgb(212, 212, 212) ;
}
.section3 .search-filter .search input:hover{
    transform: scale(1.1);
   }
   .section3 .search-filter .search input:active{
       transform: scale(1.05);
   }
   

.section3 .search-filter .filter select{
    border: solid 1px rgb(43, 141, 131);
    border-radius: 15px;
    padding: 5px;
}


.section3 .dashboard{
    border: solid 1px rgb(155, 155, 155);
    margin: 30px 40px 30px 30px;
}

.section3 .dashboard .information{
    /* margin: 10px 0; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 185px));
    border-bottom: solid 1px rgb(155, 155, 155);
    padding: 10px;
    background-color: rgb(202, 202, 202);
}

.section3 .dashboard .dash{
    margin: 10px 0 ;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 185px));
    padding: 10px;
}


.section3 .dashboard .title1,
.section3 .dashboard .title2,
.section3 .dashboard .title3,
.section3 .dashboard .title4,
.section3 .dashboard .title5{
color: black;
margin: 10px 30px;
}

.section3 .dashboard .details1,
.section3 .dashboard .details2,
.section3 .dashboard .details3,
.section3 .dashboard .details4{
    margin: 20px 0 0 30px;
}
.section3 .dashboard .price{
    margin: 20px 0 0 30px;
}




.section3 .dashboard .dash h3{
    font-size: 15px;
    font-weight: bold;
    color: black;
}
.section3 .dashboard .dash p{
    margin: 5px 0 10px 0;
    font-size: 13px; 
    color: grey;
}
.section3 .dashboard .dash a{
    font-size: 13px; 
    color: rgb(43, 141, 131);
    text-decoration: none;
}

.section3 .dashboard .dash button{
    margin-top: 10px;
    padding: 5px 15px;
    border: none;
    background-color:rgb(43, 141, 131);
    color: white;
    transition: 0.5s;
}
.section3 .dashboard .dash button:hover{
    transform: scale(1.1);
    color: rgb(43, 141, 131);
    background-color: white;
}


/* FOOTER */

.footer{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    padding: 50px;
    background-color:rgb(43, 141, 131);
    color: white;
}

.footer .images-footer img{
    margin-bottom: 10px;
  }

.footer .images-footer .logo{
  width: 50px;
  height: 70px;
}

.footer .images-footer h3{
    font-size: 15px;
  }
.footer li{
    list-style: none;
    margin: 10px 0;
}
.footer h2{
    margin-bottom: 20px;
}
.footer h3{
    color: black;
}

.footer li a{
    color: white;
    text-decoration: none;
}
 .footer .images-footer li{
      display: inline;
  }
.footer .images-footer li img{
    width: 30px;
    height: 30px;
}





@media screen and (max-width: 930px) {
    
    body{
        display: grid;
        grid-template: 
        "header main" 1fr
        "footer footer" auto /
        80px 1fr;
    }

    header form input{
        width: 55px;
    }

    header{
        display: block;
    }

    header li img{
        margin-top: 20px;
    }

    header li span{
        display: none;
    }
}



@media screen and (max-width:1205px) {
    .section3 .dash .price {
        display: none;
      }

    .section3 .information .title5{
        display: none;
    }
    
}

@media screen and (max-width:1170px) {
   .section3 .main-list li{
       display: block;
       text-align: center;
   }
    
}

@media screen and (max-width:1018px) {
    .section3 .dash .details4 {
        display: none;
      }

    .section3 .information .title4{
        display: none;
    }
    
}

@media screen and (max-width:914px) {
    .section3 .dash .details3 {
        display: none;
      }

    .section3 .information .title3{
        display: none;
    }
    
}