
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    color: rgb(43, 141, 131);
}

body{

    display: grid;
    grid-template: 
    "header" 70px
    "main" 1fr
    "footer" auto /
    1fr;

list-style: none;
}

header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}



/* HEADER */

header{
    display: grid;
    grid-template-columns: 50px 1fr auto;
    padding: 5px;
    background-color: rgb(43, 141, 131);
}

header form input{
    margin: 20px 0 0 15px;
    border: solid 1px rgb(43, 141, 131);
    border-radius: 15px;
    padding: 5px;
    width: auto;
    transition: 0.5s;
}
header form input:hover{
 transform: scale(1.1);
 background-color:white;
}
header form input:active{
    transform: scale(1.05);
}


header li{
display: inline;
margin: 15px;
transition: 0.5s;
}

/* header li:hover{
    transform: scale(1.1);
    color: white;
    background-color: rgb(43, 141, 131);
} */

header li img{
    transition: 0.5;
    height: 40px; 
    width: 40px;

}

header .profile img{
    transition: 0.5;
    border-radius: 50%;
    height: 40px; 
    width: 40px;

}
 header li img:hover{
    transform: scale(1.1);
} 

header li a{
    text-decoration: none;
    color: white;
    transition: 0.5;
}
header li a:hover{
    transform: scale(1.1);
    }
    header li a:active{
        transform: scale(1.05);
    }

    header li .profile{
        transition: 0.5s;
    }
    header .profile:hover{
        transform: scale(1.1);

    }


/* SECTION 1 */

.section1{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 30px;
}

.section1 .product-purpose h1{
    margin: 20px 0 10px 0;
}

.section1 .product-purpose li{
    margin: 5px 0;
}

/* SECTION 2 */

.section2{
background-color:rgb(43, 141, 131);
padding: 30px;
}

.section2 h1{
    text-align: center;
    margin: 30px;
    color: white;
}

.section2 .testimonial{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 150px;
    color: white;
}

.center-wrapper {
    /* CHANGE ACCORDING TO DESIGN */
    max-width: 1000px;

    /* STANDARD CODE */
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }

.section2 .testimonial .testimonial1,
.section2 .testimonial .testimonial2{  
    margin: 20px;
    background-color: white;
    color: rgb(43, 141, 131);
    padding: 10px;
}

.section2 .testimonial .testimonial1 h2,
.section2 .testimonial .testimonial2 h2{
    font-size: 20px;
    margin-top: 10px;
}

.section2 .testimonial .testimonial1 h3,
.section2 .testimonial .testimonial2 h3{
    font-size: 30px;
}

 
/* FOOTER */

.footer{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    padding: 50px;
    background-color:white;
    color: white;
}

.footer .images-footer img{
    margin-bottom: 10px;
  }

.footer .images-footer .logo{
  width: 50px;
  height: 70px;
}

.footer .images-footer h3{
    font-size: 15px;
    color:rgb(43, 141, 131);
  }
.footer li{
    list-style: none;
    margin: 10px 0;
    color:rgb(43, 141, 131);
}
.footer h2{
    margin-bottom: 20px;
    color:rgb(43, 141, 131);
}
.footer h3{
    color: black;
}

.footer li a{
    color: rgb(43, 141, 131);
    text-decoration: none;
}
 .footer .images-footer li{
      display: inline;
      color:rgb(43, 141, 131);
  }
.footer .images-footer li img{
    width: 30px;
    height: 30px;
}



@media screen and (max-width: 1020px) {
    
    body{
        display: grid;
        grid-template: 
        "header main" 1fr
        "footer footer" auto /
        80px 1fr;
    }

    header form input{
        width: 55px;
    }

    header{
        display: block;
        background-color: white;
    }

    header li img{
        margin-top: 20px;
    }

    header li span{
        display: none;
    }

    /* .section1{
        background-color: rgb(43, 141, 131);
        color: white;
        padding: 20px;
    } */
}








